<?xml version="1.0" ?>
<robot name="robotarm">
  <link name="world_1">
    <visual name="world_1_visual">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/world_1.stl"/>
      </geometry>
      <material name="world_1-material">
        <color rgba="1 0 0.5 1"/>
      </material>
    </visual>
    <collision name="world_1_collision">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/world_1.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0"/>
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
      <origin xyz="0 0 -0.086" rpy="0 0 0"/>
    </inertial>
  </link>
  <link name="Base_1">
    <visual name="Base_1_visual">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Base_1.stl"/>
      </geometry>
      <material name="Base_1-material">
        <color rgba="0.1 0.1 0.1 1"/>
      </material>
    </visual>
    <collision name="Base_1_collision">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Base_1.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="3.4827204"/>
      <inertia ixx="0.018871271" iyy="0.047428008" izz="0.049262389" ixy="7.1220153e-05" ixz="0.0045296954" iyz="-9.5534869e-05"/>
      <origin xyz="-0.076930369 0.00034962113 0.093586808" rpy="0 0 0"/>
    </inertial>
  </link>
  <link name="Shoulder_1">
    <visual name="Shoulder_1_visual">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Shoulder_1.stl"/>
      </geometry>
      <material name="Shoulder_1-material">
        <color rgba="0.1 0.1 0.1 1"/>
      </material>
    </visual>
    <collision name="Shoulder_1_collision">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Shoulder_1.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="4.1132423"/>
      <inertia ixx="0.047077419" iyy="0.052639287" izz="0.038619628" ixy="-0.0033496006" ixz="0.0012951633" iyz="0.0013648757"/>
      <origin xyz="-0.027007448 -0.0077007264 0.10665587" rpy="0 0 0"/>
    </inertial>
  </link>
  <link name="Elbow_1">
    <visual name="Elbow_1_visual">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Elbow_1.stl"/>
      </geometry>
      <material name="Elbow_1-material">
        <color rgba="0.1 0.1 0.1 1"/>
      </material>
    </visual>
    <collision name="Elbow_1_collision">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Elbow_1.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="2.913241"/>
      <inertia ixx="0.046114928" iyy="0.016439948" izz="0.036459626" ixy="-0.00014316387" ixz="-4.8261118e-05" iyz="-0.0022764325"/>
      <origin xyz="-7.5857932e-05 -0.11504169 -0.094319189" rpy="0 0 0"/>
    </inertial>
  </link>
  <link name="Forearm_1">
    <visual name="Forearm_1_visual">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Forearm_1.stl"/>
      </geometry>
      <material name="Forearm_1-material">
        <color rgba="0.1 0.1 0.1 1"/>
      </material>
    </visual>
    <collision name="Forearm_1_collision">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/Forearm_1.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="3.1017438"/>
      <inertia ixx="0.01044893" iyy="0.038994574" izz="0.037877239" ixy="0.0017379622" ixz="-0.0011203833" iyz="8.45712e-05"/>
      <origin xyz="0.092012678 -0.0072772557 -0.083544873" rpy="0 0 0"/>
    </inertial>
  </link>
  <joint name="world_link" type="fixed">
    <origin xyz="0 0 -0.171" rpy="0 0 0"/>
    <parent link="world_1"/>
    <child link="Base_1"/>
  </joint>
  <joint name="axis1" type="revolute">
    <origin xyz="9.2668454e-31 6.069348e-19 0.137" rpy="-1.4734871e-18 0 -5.5511151e-17"/>
    <parent link="Base_1"/>
    <child link="Shoulder_1"/>
    <axis xyz="0 0 1"/>
    <limit effort="8" velocity="25" lower="-2.80" upper="2.80"/>
  </joint>
  <joint name="axis2" type="revolute">
    <origin xyz="0.025 0.094 0.213" rpy="-1.5707963 1.5707963 0"/>
    <parent link="Shoulder_1"/>
    <child link="Elbow_1"/>
    <axis xyz="0 0 1"/>
    <limit effort="30" velocity="25" lower="-2.80" upper="0.35"/>
  </joint>
  <joint name="axis3" type="revolute">
    <origin xyz="0.0002 -0.3 0.004" rpy="0 0 -1.5707963"/>
    <parent link="Elbow_1"/>
    <child link="Forearm_1"/>
    <axis xyz="0 0 1"/>
    <limit effort="12" velocity="25" lower="-2.01" upper="2.36"/>
  </joint>
</robot>
